/* CSS Document */
*
{
margin:0 auto;
padding:0px;
}

#registerForm
{
margin-top:200px;
width:500px;
line-height:30px;
border:1px solid #663300;
padding:5px;
background:#0379DA;
color:#FFFFFF;
letter-spacing:1px;
}

#saveBtn
{
border:none;
background:#FF9900;
color:#FFFFFF;
padding:3px;
}

#saveBtn:hover
{
background:#FFCCCC;
}

.tableDisplay
{
background:#BED0FC;
text-align:center;
color:#660000;
line-height:30px;
}

.tableHead
{
background:#CFFED2;
padding:5px;
color:#0000FF;
}

.odd
{
background:#E8FCBE;
}


.even
{
background:#D1DFED;
}

#messageDiv
{
text-align:center;
width:500px;
border:1px solid #663300;
background:#FFFFCC;
height:20px;
padding:10px;
}

