/* CSS Document */
*
{
margin:0px auto;
padding:0px;
}

body
{
margin:0px auto;
padding:0px;
background:#7A5318;
}

#wrapper
{
margin:0px auto;
padding:0px;
width:980px;
}

#header
{
width:980px;
height:150px;
background:#F8D5B1 url(../images/mybg.jpg) center;
text-align:center;
}

#menu_top
{
text-align:right;
padding-right:40px;
}


#menu_top a
{
text-decoration:none;
color:#660000;
}

#menu_top a:hover
{
text-decoration:underline;
color:#CC00FF;
}

#header h2
{
font-size:36px;
color:#3399FF;
padding-top:30px;
}

#header p
{
font-size:24px;
color:#FF0000;
}

#menu
{
height:30px;
width:980px;
background:#4D0E04;
color:#FFFFFF;
text-align:center;
}

#menu ul
{
list-style:none;
padding-top:3px;
}

#menu ul li
{
display:inline;
}

#menu ul li a
{
color:#FFFFFF;
text-decoration:none;
padding-left:25px;
}

#menu ul li a:hover
{
color:#FFFF00;
text-decoration:underline;

}

#content
{
width:980;
padding-bottom:50px;
padding-top:50px;
background:#FFFFFF;
text-align:center;
}
#footer
{
text-align:center;
width:980px;
height:50px;
background:#4D0E04;
padding-top:25px;
color:#FFFFFF;
}

.tableDisplay
{
background:#BED0FC;
text-align:center;
color:#660000;
line-height:30px;
}

.tableHead
{
background:#CFFED2;
padding:5px;
color:#0000FF;
}

.odd
{
background:#E8FCBE;
}


.even
{
background:#D1DFED;
}

tr.odd:hover,tr.even:hover
{
background:#A9B4FA;
color:#000000;
}

.formDisplayTable
{
line-height:30px;
background:#F4F5CD;
text-align:left;
width:970px;
padding-left:20px;
}

.formDisplayTable tr td
{
border-right:1px solid #663300;
border-bottom:1px solid #663300;
}

.formHeading
{
line-height:50px;
color:#FF6600
}

input[type='text'],input[type='password']
{
padding:4px;
width:200px;
}

.fieldError
{
color:#FF0000;
}

.paging a
{
padding:3px;
text-decoration:none;
color:#990000;
}

a.active
{
text-decoration:underline;
}


